 <!-- About Section -->
    <id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Education</p>
                    <p>M.Sc. - Human-computer interaction and social media</p>
                    <p>B.Sc. - Digital media production</p>
                </div>
                <div class="col-lg-4">
                  <p>
                    </p>
                    <p>Of course UI/UX is my passion, but there are also other things that I like such as Ice hockey,
                      music and weight training.
                      </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/portfolio/Resume_Adam_Sjoberg.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
