<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>TagAlong</h2>
                        <hr class="star-primary">
                        <p>During this project I worked with a team where our task was to create an application for Wikimedia.
                          The issue at hand concerned uncategorized images, meaning that when users searched for images through specific categories,
                          the images were not found</p>
                          <hr class="star-primary">
                          <h4 class="info-title">Article</h4>
                          <p class="info-title"><a href="http://www.infotechumea.se/studenter-i-samarbete-med-wikimedia">TagAlong - Infotech</a></p>
                          <h4 class="info-title">Info</h4>
                          <p class="info-title">This project took place at the department of Informatics, Umeå University, Autumn 2014.</p>
                          <h4 class="info-title">Background</h4>
                          <p class="info-title">Wikipedia's media database Wikimedia Commons contains more than 18 million images that
                            are free to use for everyone. One way to make the images easier to find and filter,
                            is to add images into categories. There is a categorization system on Wikimedia Commons today,
                            but the problem is that many people, especially beginners, do not take the time needed to add pictures to a category.
                            It is not always easy to figure out to which of the available categories an image belongs.
                            In the current situation, there are about 400,000 uncategorized pictures and some 1 000 new uncategorized
                            images are added every day.</p>
                          <h4 class="info-title">Task</h4>
                          <p class="info-title">Develop and present a design proposal. Create three prototypes and evaluate all of them.</p>
                          <h4 class="info-title">Role</h4>
                          <p class="info-title">Conceptual design, UX designer, Interaction designer, Visual designer and mediator in User evaluations.</p>
                          <h4 class="info-title">Approach</h4>
                          <p class="info-title">As a team we had a closer look on the Wikimedia website and were trying to
                            understand the problem in depth. It was very obvious to us that Wikimedia was using categorization wrong
                            and actually meant tagging. This easily led to confusion when uploading an image.
                            Our focus therefore was to tag images and not to put them in categories.</p>
                            <p class="info-title">Individually we did research about gamification.
                              Afterwards we started discussing back and forth what good gamification is and what it means.
                              To get going and getting inspired, we had a look at successful mobile games as well as tagging games.
                              All the tagging games had one thing in common, they felt like work.</p>
                        <img src="img/portfolio/project/whiteboard.jpg" class="img-responsive img-centered" alt="view">
                        <p>Brainstorming</p>
                        <p class="info-title">The tagging games felt like work because they were just about clicking the image and
                          clicking the matching tag or the other way round, it just didn't feel engaging.
                          We wanted to create something more interactive and engaging than that.
                          Our main game idea was to create a scrollable image gallery and combine it with randomized tags
                          or tags that users define themselves. Users scroll through the gallery to find an image that matches
                          one or more tags and drag & drop the tags on the image.
                          The game is over as soon as all tags are matched. We furthermore conceptualized
                          how aspects like leveling, competition, community, reward system, meaning or level of difficulty will work.</p>
                          <h4 class="info-title">First evluation</h4>
                          <p class="info-title">The goal was to test the mental model and to see if the users understand the
                            game mechanics itself(scrolling and drag&drop). We sketched images on papers to create the gallery and used post-its as the tags.
                            The participants of the evaluation did not understand to drag & drop the post-its on the images, instead they "clicked".
                            We explained the idea of the game to the participants afterwards. All particpants agreed that it might work,
                            but were not able to grasp it with that kind of prototype.</p>
                            <h4 class="info-title">Second evaluation</h4>
                            <p class="info-title">One part of our team (including me) started to create screen designs of the user interface,
                              based on our previous sessions. The screen designs were later on used as a paper prototype.
                              The other part of the team started to create a responsive website with a JavaScript
                              implementation of the game(scrollable gallery and draggable & droppable tags).
                              After our first iteration wasn't a big success, we needed an interactive version of the game itself as soon as possible,
                              to see if we were on the right track.</p>
                        <img src="img/portfolio/project/wireframes_tagalong.png" class="img-responsive img-centered" alt="view">
                        <p>Wireframes, made in balsamiq</p>
                        <img src="img/portfolio/project/tag_along_ui.jpg" class="img-responsive img-centered" alt="view">
                        <p>Screen designs</p>
                        <p class="info-title">To test the interactive version of the game,
                          we gave our participants individually a phone with the JavaScript prototype and let them play with it.
                          The participants understood right away that matching the tags to images was the purpose of the game.
                          They also understood the scrollable gallery and that the tags were supposed to be dragged on the pictures.</p>
                          <h4 class="info-title">Third evaluation</h4>
                          <p class="info-title">Again we divided our team. One part, including me, created a video prototype and the other part
                            used the screen designs I previously created for an Axure prototype. By pressing the start button in the pre-game screen,
                            the Axure prototype redirects to the responsive JavaScript prototype website.
                            When finishing the game, the website redirects back to the Axure prototype.</p>
                            <p class="info-title">The goal of this evaluation was to measure actual user experience.
                              Our evaluation was a combination of a free surf approach, the video prototype and a questionnaire.
                              We let the participants freely navigate through the interface and let them play the game.
                              Afterwards we presented the video to illustrate the concept. We finished the evaluation with a questionnaire.
                              The questionnaire was based on a research paper which explored rapid assessment of game experiences in public settings.</p>
                        <img src="img/portfolio/project/evaluation.jpg" class="img-responsive img-centered" alt="view">
                        <p>User evaluation. Photos from a session with one of the participants using the interactive prototype made in axure.</p>
                        <h4 class="info-title">Summary</h4>
                        <p class="info-title">The project came to an end and to summarize,
                          we could only evaluate a small part of our concept,
                          because we could not implement all gamification aspects in time.
                          Nevertheless, our final evaluation revealed that the majority of the users felt engaged by the game as
                          it was and we could create some curiosity, which is a reasonably good result,
                          considering the limited functionality.
                          Therefore, we concluded that it would have been worth to pursue this idea and do further
                          evaluations with richer developed versions, which would have included advanced/all the gamification aspects
                          from our concept. The Wikimedia representatives were impressed and very satisfied with our work.</p>
                        <ul class="list-inline item-details">
                            <li>Date: Late 2014</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
