<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Wikipedia design proposal</h2>
                        <hr class="star-primary">
                        <p>When looking at Wikipedia with the lens of accessibility,
                          as it stands, there is much to be desired. The main menu is longer than most articles,
                          the featured links on the main page are just big boxes of text, many features are hidden
                          behind secret search syntax and some buttons have ambiguous names without context,
                          making it hard to tell what they do. Wikipedia is made upon a classic hyperlink hierarchy,
                          going from one article to the next seamlessly, but the result can be confusing to new users,
                          as most of the site uses the same structure and templates. User pages look exactly the same as articles,
                          for example. There are also important community guidelines and rules that are hidden to all but experienced users.
                          In our testing of the site, one of our newly created articles got removed because of relevance guidelines
                          that we had never heard of, and that was specific to that specific language version of Wikipedia.</p>
                          <hr class="star-primary">
                          <h4 class="info-title">Info</h4>
                          <p class="info-title">This project took place at the department of Informatics, Umeå University, Spring 2015.</p>
                          <h4 class="info-title">Background</h4>
                          <p class="info-title">The main issue that Wikipedia faces is the decline in
                            active contributors, also known as editors. They are the core of Wikipedia
                            and without them articles are not written, translated or reviewed.
                            Another issue is the lack of diversity, where 80% of the users are male.
                            This leads to "female" topics not being covered to the same extent as typical "male" topics.
                            In addition to this, the core users (editors) are reluctant to change and normal users (readers) are not
                            keen on becoming editors.</p>
                          <h4 class="info-title">Task</h4>
                          <p class="info-title">Develop and present a design proposal in which current users input is considered
                          but also a design that invites new users.</p>
                          <h4 class="info-title">Role</h4>
                          <p class="info-title">UX designer, Interaction designer and Visual designer.</p>
                          <h4 class="info-title">Approach</h4>
                          <p class="info-title">The approach focused on bringing accessibility to Wikipedia.
                          The social dimensions are already implemented but they are hard to find and seldom used.
                          In terms of navigation and overall interface design, it is poorly developed and
                          hinders the interaction between users, hence the focus on accessibility,
                          rather than adding new social features that are not needed or unwanted by the community.</p>
                        <img src="img/portfolio/sketches.jpg" class="img-responsive img-centered" alt="view">
                        <p>Sketches based on the requirements of the assignment</p>
                        <img src="img/portfolio/mockups.png" class="img-responsive img-centered" alt="view">
                        <p>Wireframes, made in balsamiq</p>
                        <h4 class="info-title">Navigation and Main page</h4>
                        <p class="info-title">One of the first major changes we decided upon was to recede the size of the main menu.
                          It is easy to make it smaller, using an accordion, so that menus can be expanded and collapsed.
                          One of our research findings was, that knowing about specific topic areas which needed help would
                          turn non-contributors into participants. We decided that this was an important feature to make people
                          both aware of what they can do, but also encouraging them to do so by making it more accessible.
                          So we added “Take part!” to the menu, with prominent green background,
                          an overview about different possibilities of taking part.
                          We also changed the “Interaction” menu to “Community” instead,
                          as that is what you’re interacting with - the community.</p>
                          <p class="info-title">To deal with the hidden search syntax issue on Wikipedia,
                            we added a feature that already exists on the Wikimedia Commons site.
                            We added, beneath the search function, options to search in specific parts of the site.
                            By adding this search options and moving the search next to the Wikipedia logo,
                            we increase availability, by increasing awareness and accessibility.</p>
                            <p class="info-title">Another issue was the cluttered main page,
                              where all kinds of featured texts crowd one another.
                              Even though all these features are something we want to make more prominent,
                              we also want to make them more attractive and less intimidating.
                              We chose to design them similarly to common widgets on other sites.</p>
                          <img src="img/portfolio/main_page_before.jpg" class="img-responsive img-centered" alt="view">
                          <p>Current Wikipedia Main page</p>
                          <img src="img/portfolio/main_page_after.jpg" class="img-responsive img-centered" alt="view">
                          <p>Main page redesign</p>
                          <h4 class="info-title">Article page</h4>
                          <p class="info-title">The green color of “Take part!” can also been found in the Article page.
                            As underline in the tab navigation as well as the edit link next to the Article subheadings.
                            Our goal is to make the user subconsciously link these together,
                            the user sees a green color and subconsciously feels inclined to take part.</p>
                            <img src="img/portfolio/article_page_before.jpg" class="img-responsive img-centered" alt="view">
                            <p>Current article page</p>
                            <img src="img/portfolio/article_page_after.jpg" class="img-responsive img-centered" alt="view">
                            <p>Article page redesign</p>
                          <h4 class="info-title">Edit page</h4>
                          <p class="info-title">Although the Visual Editor is activated by default in for example
                        Swedish Wikipedia and in German language variations, it is not activated in the
                        main English and German Wikipedia. In the research, we found that a fair amount
                        of people not contributing to Wikipedia stated that not knowing the syntax of the markup
                        language hinders them to contribute.</p>
                        <p class="info-title">Additionally, our own experiences with the visual editor
                          led us to the suggestion that activating the visual editor by default would
                          be an important step in attracting a more diverse editor group. People that make the
                          first steps in Wikipedia on their own might not make it that far to activate the visual
                          editor in the settings section so they might not become editors. Especially if they are
                          not familiar with markup language and are unwilling to make an effort to learn it.</p>
                          <p class="info-title">Although this should be known to the core Wikipedians and even though
                            core editors would be able to turn the visual editor off, they still blocked the visual
                            editor in 2013 for various reasons.
                         Therefore we suggest to the foundation to make another try to convince
                               their users to activate the visual editor for at least for new users.</p>
                          <h4 class="info-title">Debate page</h4>
                          <p class="info-title">We changed the debate page to make it look like a discussion forum.
                                  The threads are automatically generated based on the headings in the article itself.
                                  On the right we display widgets with the debate rules and to the article related projects.
                                  The rules widget keeps a yellow color as in the current Wikipedia talk page.
                                  The projects widget has the green color, again we want to imply that green means
                                  to take part and these projects are taking part.</p>
                         <img src="img/portfolio/debate_page_before.jpg" class="img-responsive img-centered" alt="view">
                         <p>Current talk page</p>
                         <img src="img/portfolio/debate_page_after.jpg" class="img-responsive img-centered" alt="view">
                         <p>Debate page redesign (and renamed)</p>
                         <h4 class="info-title">History page</h4>
                         <p class="info-title">The history page in the current Wikipedia is flooded with unnecessary and partially
                           confusing information. Our approach has a revision column next to the article.
                           Like Google does it with the Google docs revision history. We display the change date,
                           username and the comment. When a user selects the revision,
                           the change gets displayed in the article with green color.
                           This makes it easier to comprehend changes that have been made.</p>
                           <img src="img/portfolio/history_page_before.jpg" class="img-responsive img-centered" alt="view">
                           <p>Current history page</p>
                           <img src="img/portfolio/history_page_after.jpg" class="img-responsive img-centered" alt="view">
                           <p>History page redesign</p>
                           <h4 class="info-title">User page</h4>
                           <p class="info-title">Even though we didn’t want to implement that many more new social features,
                             we still wanted to make user pages more prominent. In contrast to other social networks the user
                             page should not be mostly about the users’
                             identity but about helping them to connect to people to similar interests.</p>
                             <p class="info-title">As it stands, user pages look like articles.
                               We still want people to be able to have that kind of user page,
                               but we wanted to give users a base template to start their user page from.
                               If they want to deviate from the base template, they are free to do so,
                               but by providing a base template we put certain expectations on the user.
                               By making these expectations more of a norm, over time,
                               there will be more information on the average user page,
                               increasing social aspects in a not too intrusive manner.</p>
                               <p class="info-title">In the proposed template is a subcategory named ‘Fields of Focus’.
                                 This is supposed to help users to connect to each other.
                                 Fields of Focus represent specific subjects that the user is engaged in.
                                 By connecting the fields to the users account we make it more accessible for users to find
                                 people who are interested in the same topics.
                                 This feature is not meant to replace the already existing “WikiProjects” but rather
                                 as a way to facilitate the way users connect to each other,
                                 hence enabling an easier way of finding potential partners to contribute with.</p>
                        <ul class="list-inline item-details">
                            <li>Date:2015-01-16</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
