<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Smartphone holder</h2>
                        <hr class="star-primary">
                        <p>I wanted to create a phone holder that fit the most common smartphones and not one that is
                          only designed for one phone in particular. I also wanted to be able to place the phone horizontally and
                          vertically in the holder</p>
                          <p>More generally I made this because I wanted a phone holder which was strong enough to support pressure
                            in order to enable the phone to be used while placed in the phone holder.
                            I discovered that many phone stands are designed simply to place the phone in it and perhaps play a video or music from it while placed.
                            Or just for the aesthetics. I wanted more functionality, and I wanted to be able to use my phone, browsing, scrolling
                            or viewing things while working at the computer. Hence why I created a phone holder which enables the user to interact
                            with it without the phone falling out of the holder or the holder tipping over itself.</p>
                          <hr class="star-primary">
                          <h4 class="info-title">Info</h4>
                          <p class="info-title">Smartphone holder developed with Autodesk Maya, Rhinoceros 3D and printed with Makerbot replicator 2x</p>
                          <h4 class="info-title">Task</h4>
                          <p class="info-title">Create a solid smartphone holder which can handle some amount of force put on the touch screen</p>
                          <h4 class="info-title">Approach</h4>
                          <p class="info-title">Three parts</p>
                        <img src="img/portfolio/smartphone/rhino_image.jpg" class="img-responsive img-centered" alt="view">
                        <p>Early stage image of the model in Rhino. Unfortunately I had no screenshot.</p>
                        <p class="info-title">The holder was printed in four separate parts. The base, the back and two feet that elevates the phone.
                        I designed that holder with a hole at the bottom in between the feet, which in combination with the elevation
                        allows me to plug in my charger (view image 4 & 5).</p>
                        <img src="img/portfolio/smartphone/print1.jpg" class="img-responsive img-centered" alt="view">
                        <p>Printing in progress 1.</p>
                        <img src="img/portfolio/smartphone/print2.jpg" class="img-responsive img-centered" alt="view">
                        <p>Printing in progress 2.</p>
                        <img src="img/portfolio/smartphone/vertical.jpg" class="img-responsive img-centered" alt="view">
                        <p>Smartphone holder finished, vertical position.</p>
                        <img src="img/portfolio/smartphone/horizontal.jpg" class="img-responsive img-centered" alt="view">
                        <p>Smartphone holder finished, horizontal position. Design process images included.</p>
                        <h4 class="info-title">Summary</h4>
                        <p class="info-title">I'm satisfied with my holder but it's not as useful as I thought it would be.
                        On the other hand I wanted to see if I could create a smartphone holder which was strong enough to support
                        pressure on the touch screen, which it manages to do.</p>
                        <ul class="list-inline item-details">
                            <li>Date: Early 2015</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
