<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Wikipedia design proposal</h2>
                        <hr class="star-primary">
                        <p>This design was created in collaboration with a software developer from
                           the computer science department at my University. The purpose of the application
                            is to be able to automatically log your coordinates when a picture is taken,
                             hence being able to map out locations of where your images were taken.
                              But more importantly, the user is able to create what we call "Stories".
                               For instance, images taken in a specific city can be put into a story,
                                making it easy for the user him or herself, and other users, to view the
                                 images from that particular story. The user is also able to add text to the story.
                                  Apart from that, I made use of the android cards in order to create a nice flow of
                                   images and also containing information about where the image was taken.
                                    The cards are clickable and will direct the user to a gallery of images related to
                                     that particular story. I created a fresh camera UI that fit more appropriately with the design.</p>
                        <img src="img/portfolio/view_test.jpg" class="img-responsive img-centered" alt="view">
                        <ul class="list-inline item-details">
                            <li>Date:2015-01-16</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
