<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>TagAlong</h2>
                        <hr class="star-primary">
                        <p>During this project I worked with a team where our task was to create an application for Wikimedia.
                          The issue at hand concerned uncategorized images, meaning that when users searched for images through specific categories,
                          the images were not found</p>
                          <hr class="star-primary">
                          <h4 class="info-title">Article</h4>
                          <p class="info-title"><a href="http://www.infotechumea.se/studenter-i-samarbete-med-wikimedia">TagAlong - Infotech</a></p>
                          <h4 class="info-title">Info</h4>
                          <p class="info-title">This project took place at the department of Informatics, Umeå University, Autumn 2014.</p>
                          <h4 class="info-title">Background</h4>
                          <p class="info-title">Wikipedia's media database Wikimedia Commons contains more than 18 million images that
                            are free to use for everyone. One way to make the images easier to find and filter,
                            is to add images into categories. There is a categorization system on Wikimedia Commons today,
                            but the problem is that many people, especially beginners, do not take the time needed to add pictures to a category.
                            It is not always easy to figure out to which of the available categories an image belongs.
                            In the current situation, there are about 400,000 uncategorized pictures and some 1 000 new uncategorized
                            images are added every day.</p>
                          <h4 class="info-title">Task</h4>
                          <p class="info-title">Develop and present a design proposal and an interactive prototype.</p>
                          <h4 class="info-title">Role</h4>
                          <p class="info-title">Conceptual design, UX designer, Interaction designer, Visual designer and mediator in User evaluations.</p>
                          <h4 class="info-title">Approach</h4>
                          <p class="info-title">As a team we had a closer look on the Wikimedia website and were trying to
                            understand the problem in depth. It was very obvious to us that Wikimedia was using categorization wrong
                            and actually meant tagging. This easily led to confusion when uploading an image.
                            Our focus therefore was to tag images and not to put them in categories.</p>
                            <p class="info-title">Individually we did research about gamification.
                              Afterwards we started discussing back and forth what good gamification is and what it means.
                              To get going and getting inspired, we had a look at successful mobile games as well as tagging games.
                              All the tagging games had one thing in common, they felt like work.</p>
                        <img src="img/portfolio/project/whiteboard.jpg" class="img-responsive img-centered" alt="view">
                        <p>Brainstorming</p>
                        <p class="info-title">The tagging games felt like work because they were just about clicking the image and
                          clicking the matching tag or the other way round, it just didn't feel engaging.
                          We wanted to create something more interactive and engaging than that.
                          Our main game idea was to create a scrollable image gallery and combine it with randomized tags
                          or tags that users define themselves. Users scroll through the gallery to find an image that matches
                          one or more tags and drag & drop the tags on the image.
                          The game is over as soon as all tags are matched. We furthermore conceptualized
                          how aspects like leveling, competition, community, reward system, meaning or level of difficulty will work.</p>
                        <img src="img/portfolio/project/wireframes_tagalong.png" class="img-responsive img-centered" alt="view">
                        <p>Wireframes, made in balsamiq</p>
                        <img src="img/portfolio/project/tag_along_ui.jpg" class="img-responsive img-centered" alt="view">
                        <p>Screen designs</p>
                        <img src="img/portfolio/project/evaluation.jpg" class="img-responsive img-centered" alt="view">
                        <p>User evaluation. Photos from a session with one of the participants using the interactive prototype made in axure.</p>
                        <h4 class="info-title">Summary</h4>
                        <p class="info-title">A serious shortcoming of our proposal is that core-Wikipedians
                         will most certainly be reluctant to implement our suggestions.
                        As we have seen with the visual editor it is very hard for the Wikimedia
                        foundation to propose changes to their user base.
                        We know therefore that it is quite unlikely that they will be
                        successful in persuading their users of a redesign of the platform.
                        However, we still decided to at least create an initial redesign concept to give
                        a clearer picture of what we mean by improving the accessibility of the site.
                        We believe that by lowering the technical barriers Wikipedia would be successful
                        in attracting a more diverse user group and that would benefit the society because
                        there would be a much broader knowledge for everyone available on Wikipedia.</p>
                        <ul class="list-inline item-details">
                            <li>Date: Early 2015</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
