<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Readyapp</h2>
                        <hr class="star-primary">
                        <p>Readyapp is an android application in development by me as a UX designer and two of my friends as software developers.
                        The basic idea of Readyapp is to eliminate unnecessary communication. Instead of sending texts, calling or using any
                        other type of tool for communication, with Readyapp the user can create an event with a description and image,
                        and send out a so called "ready-check" or notification to the people invited to the event.</p>
                        <p>It can be annoying to organize a simple get together, having to call and text everyone in your network.
                        As a creator of an event, you can invite the preferred people and send them a ready-check. The people who are a part
                        of the event can see who is invited, who is ready and who is not.</p>
                        <img src="img/portfolio/readyapp.jpg" class="img-responsive img-centered" alt="readyapp user-interface design">
                        <ul class="list-inline item-details">
                            <li>Date:2014-09-15</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
