<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Wikipedia design proposal</h2>
                        <hr class="star-primary">
                        <p>When looking at Wikipedia with the lens of accessibility,
                          as it stands, there is much to be desired. The main menu is longer than most articles,
                          the featured links on the main page are just big boxes of text, many features are hidden
                          behind secret search syntax and some buttons have ambiguous names without context,
                          making it hard to tell what they do. Wikipedia is made upon a classic hyperlink hierarchy,
                          going from one article to the next seamlessly, but the result can be confusing to new users,
                          as most of the site uses the same structure and templates. User pages look exactly the same as articles,
                          for example. There are also important community guidelines and rules that are hidden to all but experienced users.
                          In our testing of the site, one of our newly created articles got removed because of relevance guidelines
                          that we had never heard of, and that was specific to that specific language version of Wikipedia.</p>
                          <hr class="star-primary">
                          <h4 class="info-title">Info</h4>
                          <p class="info-title">This project took place at the department of Informatics, Umeå University, Spring 2015.</p>
                          <h4 class="info-title">Background</h4>
                          <p class="info-title">The main issue that Wikipedia faces is the decline in
                            active contributors, also known as editors. They are the core of Wikipedia
                            and without them articles are not written, translated or reviewed.
                            Another issue is the lack of diversity, where 80% of the users are male.
                            This leads to "female" topics not being covered to the same extent as typical "male" topics.
                            In addition to this, the core users (editors) are reluctant to change and normal users (readers) are not
                            keen on becoming editors.</p>
                          <h4 class="info-title">Task</h4>
                          <p class="info-title">Develop and present a design proposal in which current users input is considered
                          but also a design that invites new users.</p>
                          <h4 class="info-title">Role</h4>
                          <p class="info-title">UX designer, Interaction designer and Visual designer.</p>
                          <h4 class="info-title">Approach</h4>
                          <p class="info-title">The approach focused on bringing accessibility to Wikipedia.
                          The social dimensions are already implemented but they are hard to find and seldom used.
                          In terms of navigation and overall interface design, it is poorly developed and
                          hinders the interaction between users, hence the focus on accessibility,
                          rather than adding new social features that are not needed or unwanted by the community.</p>
                        <img src="img/portfolio/sketches.jpg" class="img-responsive img-centered" alt="view">
                        <ul class="list-inline item-details">
                            <li>Date:2015-01-16</li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
