""<div class="portfolio-modal modal fade" id="portfolio2" tabindex="0" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Wikipedia redesign</h2>
                      <hr class="star-primary">
                      <p>When looking at Wikipedia with the lens of accessibility,
                        as it stands, there is much to be desired.
                        The main menu is longer than most articles, the featured links on the main page are just big boxes of text,
                        many features are hidden behind secret search syntax and some buttons have ambiguous names without context,
                        making it hard to tell what they do. Wikipedia is made upon a classic hyperlink hierarchy,
                        going from one article to the next seamlessly, but the result can be confusing to new users,
                        as most of the site uses the same structure and templates. User pages look exactly the same as articles,
                        for example. There are also important community guidelines and rules that are hidden to all but experienced users.
                        In the testing of the site, one of my newly created articles got removed because of relevance guidelines that I had never heard of,
                        and that was specific to that specific language version of Wikipedia.</p>
                          <p align="left"><b>Info</b></p>
                          <p align="left">This project took place at the department of Informatics, Umeå University, Spring 2015.</p>
                          <p align="left"><b>Background</b></p>
                          <p align="left">The main issue that Wikipedia faces is the decline in
                            active contributors, also known as editors. They are the core of Wikipedia
                            and without them articles are not written, translated or reviewed.
                            Another issue is the lack of diversity, where 80% of the users are male.
                            This leads to "female" topics not being covered to the same extent as typical "male" topics.
                            In addition to this, the core users (editors) are reluctant to change and normal users (readers) are not
                            keen on becoming editors.</p>
                          <p align="left"><b>Challenge</b></p>
                          <p align="left">Develop and present a design proposal in which current users input is considered
                          but also a design that invites new users.</p>
                          <p align="left"><b>Role</b></p>
                          <p align="left">UX designer, Interaction designer and Visual designer.</p>
                          <p align="left"><b>Approach</b></p>
                          <p align="left">The approach focused on bringing accessibility to Wikipedia.
                          The social dimensions are already implemented but they are hard to find and seldom used.
                          In terms of navigation and overall interface design, it is poorly developed and
                          hinders the interaction between users, hence the focus on accessibility,
                          rather than adding new social features that are not needed or unwanted by the community.</p>
                        </div>
                      <img src="img/portfolio/Wikipedia_images/sketches.jpg" class="img-responsive" alt="">
                        <p><i>Sketches based on the requirements of the assignment</i><p>
                      <img src="img/portfolio/Wikipedia_images/mockups.png" class="img-responsive" alt="">
                      <p><i>Wireframes (made in balsamiq)</i><p>
                        <p align="left"><b>Navigation and Main page</b></p>
                        <p align="left">One of the first major changes we decided upon was to recede the size of the main menu.
                          It is easy to make it smaller, using an accordion, so that menus can be expanded and collapsed.
                          One of our research findings was, that knowing about specific topic areas which needed help would
                          turn non-contributors into participants. We decided that this was an important feature to make people
                          both aware of what they can do, but also encouraging them to do so by making it more accessible.
                          So we added “Take part!” to the menu, with prominent green background,
                          an overview about different possibilities of taking part.
                          We also changed the “Interaction” menu to “Community” instead,
                          as that is what you’re interacting with - the community.</p>
                          <p align="left">To deal with the hidden search syntax issue on Wikipedia,
                            we added a feature that already exists on the Wikimedia Commons site.
                            We added, beneath the search function, options to search in specific parts of the site.
                            By adding this search options and moving the search next to the Wikipedia logo,
                            we increase availability, by increasing awareness and accessibility</p>
                            <p align="left">Another issue was the cluttered main page,
                              where all kinds of featured texts crowd one another.
                              Even though all these features are something we want to make more prominent,
                              we also want to make them more attractive and less intimidating.
                              We chose to design them similarly to common widgets on other sites</p>
                        <img src="img/portfolio/Wikipedia_images/main_page_before.jpg" class="img-responsive" alt="">
                        <p><i>Current Wikipedia Main page</i><p>
                      <img src="img/portfolio/Wikipedia_images/thumb_wiki.jpg" class="img-responsive" alt="">
                      <p>Main page redesign</p>
                      <p align="left"><b>Edit page</b></p>
                         <p align="left">Although the Visual Editor is activated by default in for example
                        Swedish Wikipedia and in German language variations, it is not activated in the
                        main English and German Wikipedia. In the research, we found that a fair amount
                        of people not contributing to Wikipedia stated that not knowing the syntax of the markup
                        language hinders them to contribute</p>
                         <p align="left">Additionally, our own experiences with the visual editor
                          led us to the suggestion that activating the visual editor by default would
                          be an important step in attracting a more diverse editor group. People that make the
                          first steps in Wikipedia on their own might not make it that far to activate the visual
                          editor in the settings section so they might not become editors. Especially if they are
                          not familiar with markup language and are unwilling to make an effort to learn it</p>
                         <p align="left">Although this should be known to the core Wikipedians and even though
                            core editors would be able to turn the visual editor off, they still blocked the visual
                            editor in 2013 for various reasons.</p>
                         <p align="left">Therefore we suggest to the foundation to make another try to convince
                               their users to activate the visual editor for at least for new users.</p>
                      <p align="left"><b>Debate page</b></p>
                             <p align="left">We changed the debate page to make it look like a discussion forum.
                                  The threads are automatically generated based on the headings in the article itself.
                                  On the right we display widgets with the debate rules and to the article related projects.
                                  The rules widget keeps a yellow color as in the current Wikipedia talk page.
                                  The projects widget has the green color, again we want to imply that green means
                                  to take part and these projects are taking part.
                      <img src="img/portfolio/Wikipedia_images/Debate_page_before.jpg" class="img-responsive" alt="">
                      <p><i>Current Wikipedia talk page</i><p>
                      <img src="img/portfolio/Wikipedia_images/Debate_page_after.jpg" class="img-responsive" alt="">
                      <p><i>Debate page, renamed and redesigned</i><p>
                        <p align="left"><b>History page</b></p>
                        <p align="left">The history page in the current Wikipedia is flooded with unnecessary and partially
                           confusing information. Our approach has a revision column next to the article.
                           Like Google does it with the Google docs revision history. We display the change date,
                           username and the comment. When a user selects the revision,
                           the change gets displayed in the article with green color.
                           This makes it easier to comprehend changes that have been made.</p>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
