<div class="portfolio-modal modal fade" id="portfolio1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Android application UI design</h2>
                      <hr class="star-primary">
                      <p>Android application. So this is an ongoing project, far from finished,
                        which me and a group of software developers started to create a few months back.
                        I'll leave the concept and the idea to somewhere else.
                        Anyhow, these are a few of the screens created by me
                        and I as you can see a lot of the architecture is not finished yet.
                        I've been doing all the UI/UX by myself and working closely with the
                        people who produce the code by explaining the UX of the application and how I want it to be constructed.</p>
                      <img src="img/portfolio/Readyapp_concept_image.jpg" class="img-responsive" alt="">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
