""<div class="portfolio-modal modal fade" id="portfolio2" tabindex="0" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h2>Wikipedia redesign</h2>
                      <hr class="star-primary">
                      <p>When looking at Wikipedia with the lens of accessibility,
                        as it stands, there is much to be desired.
                        The main menu is longer than most articles, the featured links on the main page are just big boxes of text,
                        many features are hidden behind secret search syntax and some buttons have ambiguous names without context,
                        making it hard to tell what they do. Wikipedia is made upon a classic hyperlink hierarchy,
                        going from one article to the next seamlessly, but the result can be confusing to new users,
                        as most of the site uses the same structure and templates. User pages look exactly the same as articles,
                        for example. There are also important community guidelines and rules that are hidden to all but experienced users.
                        In the testing of the site, one of my newly created articles got removed because of relevance guidelines that I had never heard of,
                        and that was specific to that specific language version of Wikipedia.</p>
                        <div class="col-lg-2 text-left">
                          <p><b>Info</b></p>
                        </div>
                        <div class="col-lg-2">
                          <p>This project took place at the department of Informatics, Umeå University, Spring 2015.</p>
                        </div>
                          <div class="col-lg-2 text-left">
                          <p><b>Info</b></p>
                          <p>blablabla</p>
                        </div>
                      <img src="img/portfolio/Wikipedia_images/thumb_wiki.jpg" class="img-responsive" alt="">
                      <p>Main page</p>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
