 <!-- Skills Section -->
 <section class="success" id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Education</p>
                    <p>M.Sc. - Human-computer interaction and social media</p>
                    <p>B.Sc. - Digital media production</p>
                </div>
                <div class="col-lg-4">
                  <p>
                  </p>I started my studies at the Bachelor's programme for Digital media production in 2010 at Umeå University.
                  It involved areas such as graphic design, motion graphics and overall conceptual design.
                  Encapsulated in these specific areas, UX was the root of everything, which was challenging but also interesting.
                  Hence, after graduating it felt natural to apply for the Master's programme in HCI.
                  It was a perfect fit, to be able to apply my graphical skills with my passion for UX.
                  As I now come to an end of my studies at the Master's programme, I want to continue my journey at a company
                  where user-centred design is highly valued.<p>
                      </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/portfolio/Resume_Adam_Sjoberg.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
