 <!-- About Section -->
 <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Technical skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-2 col-lg-offset-4">
                        <p>Experience</p>
                        <p>Adobe Photoshop</p>
                        <p>Adobe Illustrator</p>
                        <p>Adobe After effects</p>
                        <p>Autodesk Maya</p>
                        <p>Balsamiq</p>
                    </div>
                    <div class="col-lg-2 col-lg-offset-4">
                        <p>Prototyping tools</p>
                        <p>3D-printing</p>
                        <p>Wireframes</p>
                        <p>Storyboards</p>
                    </div>
                  </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
