<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include Education.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include portfolio1.html %}
    {% include portfolio2.html %}
    {% include portfolio3.html %}
    {% include portfolio4.html %}
    {% include js.html %}
    </body>
</html>
